footer {
  margin: 6rem 0 0 0;
}
.footer__hearticon {
  margin: 0 .5rem;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  animation: pulsate .42s ease 0s infinite alternate;
}
.footer__hearticon:hover {
  fill: red;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.credits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.credits h3 {
  text-align: left;
}
.footerImg {
  width: 100vw;
  height: 100vh;
  background: url('https://s3.eu-central-1.amazonaws.com/expbh/climbing/footerImg.jpg') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin: 0 0 4rem 0;
  align-items: center;
-webkit-mask-image:-webkit-gradient(linear, right top, right bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}
.olympicsLogo {
  width: 20vw;
  height: 50vh;
  background: url('https://s3.eu-central-1.amazonaws.com/expbh/climbing/olympicsLogo.svg') no-repeat;
  background-size: contain;
}
